--color
--format documentation
--require spec_helper

def square_array(arr)
arr = [ ]
arr.each do |x|
arr.push(x*x)
end
return arr
end

arr=[2, 3, 4]

def advanced_array(x)
x = x.collect{|var| var*var}
return x
end

x=[2, 3, 4]